DATABASE_URL="MongoDb replica set connection string moet hier"
POLARLEARN_URL="localhost:3000"
AUTH_GOOGLE_ID="Stop hier de Google OAuth2 Client ID die je hebt gekregen van de google cloud console"
AUTH_GOOGLE_SECRET="Stop hier de Google OAuth2 Client Secret die je hebt gekregen van de google cloud console"
AUTH_GITHUB_ID="Stop hier de GitHub OAuth2 Client ID die je hebt gekregen van de GitHub Developer Settings"
AUTH_GITHUB_SECRET="Stop hier de GitHub OAuth2 Client Secret die je hebt gekregen van de GitHub Developer Settings"
AUTH_SECRET="Voer `openssl rand -base64 32` uit om een cookie-geheim te genereren"
AUTH_URL="zelfde als POLARLEARN_URL"