.logo {
    filter: drop-shadow(0 4px 20px rgba(0, 0, 0, 0.25));
}

.copyright {
    color: var(--neutral-600, #525252);
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    font-family: Jua;
    font-size: 16px;
    font-weight: 400;

    transition: opacity 0.2s ease;
    opacity: 0.5;
}

.copyright:hover {
    opacity: 1;
}

.tagline {
    color: #FFF;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    font-family: Jua;
    font-size: 28px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin: 0;
}

.tagline .accent2 {
    color: var(--cyan-300, #53EAFD);
    font-size: 24px;
}

.tagline .accent {
    color: #70FEC0;
}